<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {{#if page.previewImage}}
      <meta property="og:image" content="{{ page.previewImage }}" />
    {{/if}}
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/document.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.baseurl }}/img/favicon.ico"
    />
    {{> ga.html }}
  </head>
  <body>
    <div class="top">
      <div class="header">
        <div class="header-banner">
          <a href="http://www.malloydata.dev" target="_blank">
            <img class="logo" src="{{ site.baseurl }}/img/logo.png" alt="malloy logo" />
          </a>

          Malloy
          <a href="/blog"><span class="subtitle">Blog</span></a>
        </div>
        <div class="header-right">
          <div class="header-links">
            <a href="https://github.com/malloydata/malloy" target="_blank"><img src="{{ site.baseurl }}/img/github.svg" style="transform: scale(0.5)"/></a>
            <a href="https://join.slack.com/t/malloy-community/shared_invite/zt-1kgfwgi5g-CrsdaRqs81QY67QW0~t_uw" target="_blank"><img
                src="{{ site.baseurl }}/img/slack.svg" /></a>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="content">
          <div class="document-outer blog">
            {{#if page.isBlogIndex }}{{else}}
              <div class="blog-header linear-navigation">
                <div class="item"><a href="{{ site.baseurl }}/blog"><img src="{{ site.baseurl }}/img/previous.svg" alt="previous"/>All Posts</a></div>
                <div class="edit-link"><a class="edit-link" target="_blank" href="https://github.dev/malloydata/malloydata.github.io/blob/main/src{{page.source}}#C1">VSCode <img src="{{ site.baseurl }}/img/open_notebook.svg" alt="document"/></a></div>
              </div>
            {{/if}}
            {{{ page.content }}}
            {{#if page.isBlogIndex }}{{else}}<div class="blog-footer linear-navigation">
              <div class="item">{{#if page.previousPost }}<a href="{{page.previousPost}}"><img src="{{ site.baseurl }}/img/previous.svg" alt="previous"/>Previous Post</a>{{/if}}</div>
              <div class="item">{{#if page.nextPost }}<a href="{{page.nextPost}}">Next Post<img src="{{ site.baseurl }}/img/next.svg" alt="previous"/></a>{{/if}}</div>
            </div>{{/if}}
          </div>
        </div>
        <script src="{{ site.baseurl }}/js/view_toggles.js"></script>
        <script src="{{ site.baseurl }}/js/jump_to_hash.js"></script>
      </div>
    </div>
    {{> banner.html }}
    <script src="{{ site.baseurl }}/js/banner.js"></script>
  </body>
</html>
