<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/document.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ site.baseurl }}/img/favicon.ico"
    />
    {{> ga.html }}
    <style>
      malloy-render::part(table-container) {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="top">
      <div class="header">
        <div class="header-banner">
          <a href="http://www.malloydata.dev" target="_blank">
            <img
              class="logo"
              src="{{ site.baseurl }}/img/logo.png"
              alt="malloy logo"
            />
          </a>

          Malloy
          <span class="subtitle">Documentation</span>
        </div>
        <div class="header-right">
          <div class="header-links">
            <a href="https://github.com/malloydata/malloy" target="_blank"
              ><img
                src="{{ site.baseurl }}/img/github.svg"
                style="transform: scale(0.5)"
            /></a>
            <a href="/slack" target="_blank"
              ><img src="{{ site.baseurl }}/img/slack.svg"
            /></a>
          </div>
          <form onSubmit="() => alert('submit')" action="/search">
            <div class="search-input-outer">
              <img src="{{ site.baseurl }}/img/search.svg" alt="search" />
              <input placeholder="Search" id="search-input" name="query" />
            </div>
            <input type="submit" style="display: none" />
          </form>
        </div>
      </div>
      <div class="main">
        {{> toc.html }}
        <script src="{{ site.baseurl }}/js/sidebar_state.js"></script>
        <div class="content">
          <div class="footer">
            {{#if page.footer }}{{{ page.footer }}} {{/if}}
          </div>
          <div class="document-outer">{{{ page.content }}}</div>
        </div>
        <script src="{{ site.baseurl }}/js/view_toggles.js"></script>
        <script src="{{ site.baseurl }}/js/jump_to_hash.js"></script>
      </div>
    </div>
    {{> banner.html }}
    <script src="{{ site.baseurl }}/js/banner.js"></script>
    <script src="{{ site.baseurl }}/js/generated/malloy-render-{{ site.malloyRenderVersion }}.js"></script>
  </body>
</html>
